<div class="HeaderMainContainer">
  <div class="HeaderOneContainer">
    <div class="HOLeftContainer">
      <div class="LogoContainer">Logo</div>
      <div style="display: flex; padding-left: 20%">
        <div class="select-wrapper">
          <select id="select" name="select">
            <option value="">Ganas</option>
          </select>
        </div>
        <div class="select-wrapper">
          <select id="select" name="select">
            <option value="">DFW</option>
          </select>
        </div>
        <div class="select-wrapper">
          <select id="select" name="select">
            <option value="">RAM 1500</option>
          </select>
        </div>
      </div>
    </div>
    <div class="HORightContainer">
      <div class="BudgetRemainingUnitBox">
        <h1>Total Budget Remaining</h1>
        <div class="borderLine2"></div>
        <h2>$220,000</h2>
      </div>
    </div>
  </div>
  <div class="HeaderSecondContainer">
    <div class="HSLeftContainer">
      <div class="HSLeftText">R P A</div>
      <div class="borderLine3"></div>
      <div class="HSLeftTag">Top Candidate</div>
    </div>
    <div class="HSRightContainer">
      <div class="RemainingUnitBox">
        <h1>Remaining Unit</h1>
        <div class="borderLine2"></div>
        <h2>22</h2>
      </div>
    </div>
  </div>
</div>
