.footer {
  background-color: #4d4747;
  height: 70px;
  width: 100%;
  position: absolute;
  left: 0;

  p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    float: right;
    margin-right: 25px;
    margin-top: 23px;
  }
}
